.services {
  padding-top: 130px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 324px;
  align-items: center;
}

.services__container {
  margin: 0 auto;
  padding: 20px 60px 60px 25px;
  display: flex;
  flex-direction: row;
  /* max-width: 1440px; */
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
}

.services__background {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 350px;
  background-color: #000;
  background-position-y: 10px;
  background-size: 100% 100%;
  background: url('../../../images/Baner2.png');
  background-repeat: no-repeat;

  background-blend-mode: lighten;
  background-size: 100% 90%;
  position: relative;
  z-index: 0;
}

.car-track {
  position: absolute;
  top: -52%;
  left: 14%;
  z-index: 1;
}

.car-hatchback {
  position: absolute;
  top: 15%;
  left: 33%;
  z-index: 5;
}

.services__wrapper-text {
  padding-right: 8px;
  max-width: 410px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.services__text-title {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.services__text-subtitle {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #17e3db;
  font-family: 'Jura', sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  /* line-height:  26.667% ; */
}

.services__button {
  padding: 21px 42px 25px 55px;
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    #004b5e 21.17%,
    rgba(18, 60, 74, 0) 132.69%
  );
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #fab909;
  font-family: 'Jura', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.services__icon_yellow {
  padding-left: 20px;
}

@media (max-width: 1899px) {
  .car-track {
    left: 10%;
  }

  .car-hatchback {
    left: 29%;
  }
}

@media (max-width: 1660px) {
  .car-track {
    left: 6%;
  }

  .car-hatchback {
    left: 25%;
  }
}

@media (max-width: 1317px) {
  .car-track {
    width: 602px;
    top: -38%;
    left: 8%;
  }

  .car-hatchback {
    width: 489px;
    top: 21%;
    left: 33%;
  }

  .services__text-title {
    font-size: 40px;
  }

  .services__text-subtitle {
    font-size: 70px;
  }

  .services__button {
    padding: 16px 37px 20px 50px;
    font-size: 20px;
  }

  .services__container {
    max-width: 1080px;
  }
}

@media (max-width: 1197px) {
  .services {
    padding-top: 25px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 220px;
    align-items: center;
  }

  .services__background {
    min-height: 250px;
  }

  .car-track {
    width: 502px;
    top: -58%;
    left: 8%;
  }

  .car-hatchback {
    width: 389px;
    top: 12%;
    left: 32%;
  }

  .services__text-title {
    font-size: 36px;
  }

  .services__text-subtitle {
    font-size: 60px;
  }

  .services__button {
    padding: 10px 31px 14px 44px;
    font-size: 18px;
  }
  .services__container {
    max-width: 900px;
  }
}

@media (max-width: 1017px) {
  .services__container {
    max-width: 768px;
  }

  .car-track {
    width: 402px;
    top: -30%;
    left: 8%;
  }

  .car-hatchback {
    width: 289px;
    top: 32%;
    left: 30%;
  }

  .services__container {
    padding: 10px 20px 60px 5px;
    max-width: 700px;
  }
}

@media (max-width: 861px) {
  .services__container {
    max-width: 480px;
    padding: 10px 20px 50px 5px;
  }

  .car-track {
    width: 240px;
    top: 19%;
    left: 1%;
  }

  .car-hatchback {
    width: 197px;
    top: 53%;
    left: 20%;
  }

  .services__text-title {
    font-size: 30px;
  }

  .services__text-subtitle {
    font-size: 52px;
  }

  .services__button {
    padding: 6px 31px 8px 44px;
    font-size: 16px;
  }
}
