.about {
  padding-top: 14px;
  padding-bottom: 75px;
}

/* .container-medium {
} */

.about__title {
  padding-bottom: 20px;
  color: #004b5e;
  font-family: 'Jura', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 73.333% */
}

.about__container {
  padding: 27px 100px 41px 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 43px;
  border-radius: 10px;
  background: url('../../../images/Baner2.png'),
    lightgray -515.894px -57px / 136.85% 240.385% no-repeat;
}

.logo__big {
  width: 328px;
}

.about__wrapper {
  max-width: 880px;
  display: flex;
  flex-direction: column;
}

.about__text {
  padding-bottom: 20px;
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}

.about__text_highlighting {
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.about__button {
  text-decoration: none;
  color: #38827f;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 88.889% */
}

/* .promotional-product__icon_green {
} */

@media (max-width: 1517px) {
  .about {
    max-width: 1200px;
    width: 100%;
  }
}

@media (max-width: 1317px) {
  .about {
    max-width: 1080px;
  }

  .about__text {
    font-size: 16px;
  }
}

@media (max-width: 1197px) {
  .about {
    max-width: 900px;
  }

  .about__title {
    font-size: 26px;
  }

  .about__text {
    font-size: 16px;
  }
}

@media (max-width: 1017px) {
  .about {
    max-width: 768px;
  }

  .about__title {
    font-size: 22px;
  }

  .about__container {
    padding: 27px 50px 41px 45px;
  }

  .logo__big {
    width: 300px;
  }
}
