@import url(../vendor/fonts/fonts.css);

@import url(../blocks/header/header.css);

@import url(../blocks/main/main.css);

@import url(../blocks/main/promotional-product/promotional-product.css);

@import url(../blocks/main/section-sidebar/section-sidebar.css);

@import url(../blocks/main/slider/slider.css);

@import url(../blocks/main/uniqueness/uniqueness.css);

@import url(../blocks/main/about/about.css);

@import url(../blocks/main/categories/categories.css);

@import url(../blocks/main/services1/services.css);

@import url(../blocks/main/product-cards/product-cards.css);

@import url(../blocks/footer/footer.css);




/* @import url(../blocks/main);
@import url(../blocks/main);

@import url(../blocks/main);
@import url(../blocks/main);
@import url(../blocks/main); */
