.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.header__background {
  width: 100%;
  height: 500px;
  background-image: url('../../images/Gori.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 45, 54, 0.9);
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  max-width: 760px;
  width: 100%;
}
/* 
ul {
  padding: 0 43px 0 64px;
  display: flex;
  flex-direction: row;
  column-gap: 47px;
  justify-content: space-between;
} */

.wrapper .menu ul li a {
  text-decoration: none;
}
.wrapper .menu ul li {
  list-style-type: none;
}

.logo {
  transform: translateY(-15px);
}

.menu__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
  font-family: 'Jura';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__item {
  margin-right: 51px;
}

.menu__item:first-child {
  margin-left: 28px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__list_active {
  color: #facb0a;
}

.user-menu {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  column-gap: 23px;
}

.user-menu__icon_border {
  width: 61px;
  height: 50px;
  padding: 0;
}

.user-menu__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.user-menu__icon {
  width: 24px;
  height: 24px;
  padding: 10px 5px;
}

.contacts {
  display: flex;
  flex-direction: row;
}

.phone-call {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.number {
  padding: 0;
  margin: 0;
  color: #fecd14;
  font-family: 'Jura';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  padding: 0;
  margin: 0;
  color: #299dae;
  font-family: 'Jura';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
