.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.header__background {
  width: 100%;
  height: 500px;
  background-image: url('../../images/Gori.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper {
  margin-top: 20px;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 45, 54, 0.9);
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  max-width: 760px;
  width: 100%;
}

.hamburger-menu {
  display: none;
}

.hamburger {
  width: 30px;
  height: 14px;
  margin: 5px;
  background-image: url(../../images/бургер.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 39%;
  left: 1%;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

.wrapper .menu ul li a {
  text-decoration: none;
}
.wrapper .menu ul li {
  list-style-type: none;
}

.logo {
  transform: translateY(-15px);
}

.menu__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu__item {
  margin-right: 51px;
  position: relative;
}

.menu__item::before {
  content: '';
  width: 100%;
  height: 3px;
  flex-shrink: 0;
  background-color: #209194;
  position: absolute;
  left: 0px;
  bottom: -35px;
  transform: scaleX(0);
}

.menu__item:hover::before {
  transform: scaleX(1);
}

.menu__item:first-child {
  margin-left: 28px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__link_active {
  color: #facb0a;
}

.user-menu {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  column-gap: 23px;
}

.user-menu__icon_border {
  width: 61px;
  height: 50px;
  padding: 0;
}

.user-menu__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.user-menu__icon {
  width: 24px;
  height: 24px;
  padding: 10px 5px;
}

.contacts {
  display: flex;
  flex-direction: row;
}

.phone-call {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.number {
  padding: 0;
  margin: 0;
  color: #fecd14;
  font-family: 'Jura', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  padding: 0;
  margin: 0;
  color: #299dae;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1517px) {
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .user-menu__list {
    column-gap: 5px;
  }

  .menu {
    max-width: 580px;
  }

  .menu__item {
    margin-right: 20px;
  }
}

@media (max-width: 1317px) {
  .container {
    max-width: 1080px;
  }

  .logo {
    width: 200px;
  }

  .number {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
  }

  .menu__link {
    font-size: 14px;
  }

  .menu__item::before {
    bottom: -53px;
  }

  .user-menu__list {
    column-gap: 5px;
  }

  .menu {
    max-width: 580px;
  }

  .menu__item {
    margin-right: 20px;
  }

  .menu__item::before {
    bottom: -30px;
  }
}

@media (max-width: 1197px) {
  .container {
    max-width: 900px;
  }

  .menu {
    max-width: 480px;
    width: 100%;
  }

  .logo {
    width: 150px;
    transform: translateY(-10px);
  }

  .menu__item {
    margin-right: 10px;
  }

  .menu__item:first-child {
    margin-left: 15px;
  }

  .number {
    font-size: 16px;
  }

  .user-menu__icon_border {
    width: 51px;
    height: 40px;
  }

  .menu__item::before {
    bottom: -21px;
  }
}

@media (max-width: 1017px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 768px;
  }

  .phone-call {
    display: none;
  }

  .menu__item::before {
    bottom: -21px;
  }
}

@media (max-width: 861px) {
  .container {
    max-width: 480px;
  }

  .header__background {
    width: 100%;
    height: 300px;
    background-image: url(../../images/Gori.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .wrapper {
    margin-top: 0px;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu.active {
    display: block;
  }

  .hamburger.active {
    width: 40px;
    height: 40px;
    margin: 0px;
    background-image: url(../../images/cross_9fh62rftufyi\(1\).svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    transition: transform 2s;
    z-index: 50;
    top: 25%;
    left: 0%;
  }

  .menu {
    order: -1;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    position: fixed;
    align-items: start;
    gap: 20px;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    padding: 15px;
    background-color: rgba(6, 45, 54, 0.9);
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 20;
  }

  .menu__list.active {
    transform: translateX(0);
    padding-top: 70px;
  }

  .menu__item:first-child {
    margin-left: 0px;
  }

  .menu__item::before {
    bottom: -5px;
  }

  .logo {
    width: 158px;
    margin-left: 60px;
    margin-right: 21px;
    transform: translateY(0px);
  }

  /* разобраться с поиском */
  .user-menu__icon {
    display: none;
  }

  .tel {
    display: block;
    padding-right: 10px;
  }
}

@media (max-width: 491px) {
  .container {
    max-width: 375px;
  }

  .logo {
    width: 158px;
  }

  .tel {
    width: 22px;
    display: block;
    padding-right: 10px;
  }

  .phone-call.header-tel {
    display: none;
  }
}

@media (max-width: 376px) {
  .header__background {
    width: 100%;
    min-height: 400px;
  }

  .container {
    max-width: 375px;
  }

  .hamburger {
    left: 5%;
  }
}
