/* .promotional-product {
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  height: 100px;
}
.full {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  border: 1px solid green;
  transform: translateY(-220px);
}
.container-medium1 {
  box-sizing: border-box;
  max-width: 1400px;
  height: 500px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}
.promotional-product::before {
  content: '';
  background: rgba(40, 98, 119, 0.5);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  z-index: -5;
}
.simka {
  max-width: 1400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(200px);
}
.promotional-product__title {
  color: #fff;
  font-family: 'Kelson Sans RU', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1350px;
  width: 100%;
}
b {
  color: #fab909;
  font-family: 'Kelson Sans RU';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.promotional-product__subtitle {
  max-width: 593px;
  color: #fff;
  font-family: 'Jura';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.promotional-product__button {
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 39px;
  text-decoration: none;
  color: #fff;
  font-family: 'Jura';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    #004b5e 21.17%,
    rgba(18, 60, 74, 0) 132.69%
  );
  position: absolute;
  left: 40%;
  bottom: 19%;
}
.promotional-product__icon {
  padding: 0 25px;
}
.promotional-product__variant_blur {
  position: absolute;
  bottom: -36%;
  right: 8%;
  z-index: -10;
}
.promotional-product__variant_canister {
  position: absolute;
  top: -56%;
  right: 30%;
  z-index: 3;
}
.promotional-product__variant_barrel {
  position: absolute;
  top: -38%;
  right: 13%;
  z-index: 5;
}
.promotional-product-pagination {
  border: 1px solid red;
  position: absolute;
  left: 12%;
  right: 0%;
  padding: 0;
  margin: 0;
}
.promotional-product-wrapper {
  margin: 0;
  padding: 0;
  max-width: 1400px;
  width: 100%;
  border: 1px solid rgb(53, 0, 128);
}
.promotional-product-slider {
  margin: 0;
  padding: 0;
  height: 500px;
  border: 1px solid;
} */

/* ================================================== */
.promotional-product {
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* align-items: center;
  justify-content: center; */
  transform: translateY(-220px);

  border: 1px solid;
}
.full {
  width: 100%;

  border: 1px solid red;
}
.container-medium1 {
  border: 1px solid blue;
  overflow-x: hidden;
}
/* .swiper-container {
} */
.promotional-product-wrapper {
  border: 1px solid green;
}
/* .swiper-wrapper {
} */
.promotional-product-slider {
  border: 1px solid orangered;
}
/* .swiper-slide {
} */
.simka {
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  position: relative;
}
.simka::before {
  content: '';
  background: rgba(40, 98, 119, 0.5);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  z-index: -5;
}

b {
  color: #fab909;
  font-family: 'Kelson Sans RU';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotional-product__title {
  color: #fff;
  font-family: 'Kelson Sans RU', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1350px;
  width: 100%;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.promotional-product__subtitle {
  max-width: 593px;
  /* color: #fff; раскоммититть*/
  font-family: 'Jura';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.promotional-product__button {
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 39px;
  text-decoration: none;
  color: #fff;
  font-family: 'Jura';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    #004b5e 21.17%,
    rgba(18, 60, 74, 0) 132.69%
  );
}
.promotional-product__icon {
  display: inline-block;
  padding: 0 25px;
  width: 16px;
  height: 16px;
  text-align: center;
}
.promotional-product__variant_blur {
  border: 1px solid purple;
}
.promotional-product__variant_canister {
  border: 1px solid purple;
}
.promotional-product__variant_barrel {
  border: 1px solid purple;
}
.promotional-product-pagination {
  border: 1px solid peru;
}
/* .swiper-pagination {
} */
