.container-medium {
  box-sizing: border-box;
  max-width: 1400px;
  /* width: 100%; */
}

.promotional-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 27px;
  border-radius: 20px;
  /* background: rgba(40, 98, 119, 0.5); */
  /* backdrop-filter: blur(2px); */
  position: relative;
  z-index: 1;
  transform: translateY(-220px);
  /* border: 1px solid orange; */
}

.promotional-product::before {
  content: '';
  background: rgba(40, 98, 119, 0.5);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  z-index: -5;
}

.promotional-product__title {
  color: #fff;
  font-family: 'Kelson Sans RU', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

b {
  color: #fab909;
  font-family: 'Kelson Sans RU';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promotional-product__subtitle {
  max-width: 593px;
  color: #fff;
  font-family: 'Jura';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 88.889% */
}

.promotional-product__button {
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 39px;
  text-decoration: none;
  color: #fff;
  font-family: 'Jura';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    #004b5e 21.17%,
    rgba(18, 60, 74, 0) 132.69%
  );
  position: absolute;
  left: 40%;
  bottom: 19%;
}

.promotional-product__icon {
  padding: 0 25px;
}

.promotional-product__variant_blur {
  position: absolute;
  bottom: -36%;
  right: 8%;
  z-index: -10;
}

.promotional-product__variant_canister {
  position: absolute;
  top: -56%;
  right: 30%;
  z-index: 3;
}

.promotional-product__variant_barrel {
  position: absolute;
  top: -38%;
  right: 13%;
  z-index: 5;
}
