.promotional-product {
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-361px);
}

.full {
  width: 100%;
  position: relative;
}

.container-medium1 {
  overflow-x: hidden;
}

/* .swiper-container {
} */
/* .promotional-product-wrapper {
} */
/* .swiper-wrapper {
} */
/* .promotional-product-slider {
} */

.simka {
  margin: 150px auto 140px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.simka::before {
  content: '';
  background: rgba(40, 98, 119, 0.5);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  z-index: -5;
}

b {
  color: #fab909;
  font-family: 'Kelson Sans RU', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px 29px;
  max-width: 720px;
}

.promotional-product__title {
  color: #fff;
  font-family: 'Kelson Sans RU', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1350px;
  width: 100%;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.promotional-product__subtitle {
  padding: 0;
  max-width: 528px;
  color: #fff;
  font-family: 'Jura';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.promotional-product__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 5px 15px 39px;
  text-decoration: none;
  color: #fff;
  font-family: 'Jura';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    #004b5e 21.17%,
    rgba(18, 60, 74, 0) 132.69%
  );
}

.promotional-product__icon {
  display: inline-block;
  padding: 0 15px 0 20px;
  width: 10px;
  height: 10px;
  text-align: center;
}

.promotional-product__variant_blur {
  position: absolute;
  top: -18%;
  right: 8%;
  z-index: -10;
}

.promotional-product__variant_canister {
  position: absolute;
  top: -57%;
  right: 30%;
  z-index: 3;
}

.promotional-product__variant_barrel {
  position: absolute;
  top: -35%;
  right: 13%;
  z-index: 5;
}

.swiper-pagination.promotional-product-pagination {
  margin: 0;
  padding: 0;
  max-width: 200px;
  height: 20px;
  position: absolute;
  top: 90%;
  right: 0%;
  bottom: 0%;
  left: 85.9%;
}

/* .swiper-pagination {
} */

.swiper-pagination-bullet {
  margin: 0;
  padding: 0;
  width: 42px;
  height: 3px;
  border-radius: 0px;
  background: #ced6dc;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #26aaab 70%, #ced6dc 70% 100%);
}

@media (max-width: 1517px) {
  .promotional-product {
    max-width: 1200px;
    width: 100%;
  }

  .promotional-product__subtitle {
    max-width: 480px;
    width: 100%;
    font-size: 16px;
  }

  .swiper-pagination.promotional-product-pagination {
    left: 83.9%;
  }

  .promotional-product__variant_blur {
    right: -3%;
  }

  .promotional-product__variant_canister {
    right: 22%;
  }

  .promotional-product__variant_barrel {
    right: 3%;
  }
}

@media (max-width: 1317px) {
  .promotional-product {
    max-width: 1080px;
    width: 100%;
  }

  .title {
    max-width: 550px;
    padding: 0px 13px 29px;
  }

  .promotional-product__title {
    max-width: 650px;
  }

  .swiper-pagination.promotional-product-pagination {
    margin: 0;
    padding: 0;
    max-width: 200px;
    height: 20px;
    position: absolute;
    top: 92%;
    right: 0%;
    bottom: 0%;
    left: 81.9%;
  }
}

@media (max-width: 1197px) {
  .promotional-product {
    max-width: 900px;
    width: 100%;
  }

  .title {
    max-width: 550px;
    padding: 0px 13px 29px;
  }

  .promotional-product__title {
    max-width: 470px;
    width: 100%;
  }

  .promotional-product__subtitle {
    max-width: 291px;
    width: 100%;
    font-size: 16px;
  }

  .promotional-product__button {
    padding: 10px 5px 10px 20px;
  }

  .swiper-pagination.promotional-product-pagination {
    margin: 0;
    padding: 0;
    max-width: 200px;
    height: 20px;
    position: absolute;
    top: 92%;
    right: 0%;
    bottom: 0%;
    left: 77.9%;
  }
}

@media (max-width: 1017px) {
  .promotional-product {
    max-width: 768px;
  }

  .promotional-product__variant_blur {
    display: none;
  }

  .promotional-product__variant_barrel {
    width: 280px;
    top: -21%;
    right: -6%;
  }

  .promotional-product__variant_canister {
    width: 190px;
    top: -23%;
    right: 15%;
  }

  .swiper-pagination.promotional-product-pagination {
    top: 85%;
    left: 74.5%;
}
}
