.categories {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 130px;
  position: relative;
  max-width: 1520px;
  width: 100%;
}

.categories__container-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  /* min-height: 480px; */
}

.categories__icon {
  padding-right: 10px;
}

.categories__title {
  padding-left: 60px;
  color: #004b5e;
  font-family: 'Jura', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.categories__container {
  padding-top: 10px;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.categories__button {
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
  gap: 14px;
  text-decoration: none;
  color: #798c97;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 88.889% */
}

.categories__cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 26px;
}

.categories__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
  width: 100%;
  height: 378px;
  border-radius: 10px;
  background: #fff;
  list-style-type: none;
  padding: 0;
  cursor: pointer;

  overflow: hidden;
  transition: all 0.15s ease;
  position: relative;
}

.categories__card:hover {
  transform: scaleY(1);
  height: 467px;
  background: #f3f7f9;
  fill: #fff;
  filter: drop-shadow(0px 4px 50px rgba(7, 28, 37, 0.1));
  background-image: url('../../../images/ФонДляКартинкиСлайдера.png');
  background-repeat: repeat;
  background-position: 50% 47%;
  justify-content: space-between;
}

.card-image__title {
  max-width: 330px;
  height: 378px;
}

.categories__card:hover.card-image__title {
  max-width: 330px;
  height: 330px;
}

.categories__card:hover .card-image__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
}

.card-image__subtitle {
  margin: 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
}

.card-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.categories__card-title {
  padding: 15px 22px 19px 22px;
  color: #18948f;
  font-family: 'Jura', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.categories__line-bottom {
  margin: 0;
  padding: 0;
  display: inline-block;
  max-width: 330px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(221, 233, 239, 0) 0%,
    rgba(210, 224, 232, 0.49) 50%,
    rgba(221, 233, 239, 0) 100%
  );
}

.categories__image {
  object-fit: cover;
}

.categories__card:hover .categories__image {
  max-width: 230px;
  max-height: 230px;
}

.categories__text {
  margin-top: 25px;
  padding: 0 0 25px 0;
  color: #254f4d;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: start;
}

.categories__button-card {
  padding: 12px 24px 19px 39px;
  text-decoration: none;
  color: #fecd14;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    #004b5e 21.17%,
    rgba(18, 60, 74, 0) 132.69%
  );
}

/*  стрелки */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0;
}

.button-position-prev {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 0;
}

.button-position-next {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45%;
  right: 0;
}

.button__prev {
  position: relative;
  border: none;
  background: transparent;
}

.categories__prev-arrow {
  position: absolute;
  transform: rotate(180deg);
  top: 35%;
  left: 43.5%;
}

.button-next {
  border: none;
  background: transparent;
  position: relative;
}

.categories__next-arrow {
  position: absolute;
  top: 35%;
  right: 43.5%;
}

.categories__button__icon_yellow {
  padding-left: 10px;
  width: 10px;
  height: 7px;
}

@media (max-width: 1517px) {
  .categories {
    max-width: 1320px;
    width: 100%;
  }

  .categories__container {
    max-width: 1200px;
    width: 100%;
  }

  .categories__cards {
    gap: 26px;
  }

  .categories__card {
    max-width: 280px;
    width: 100%;
  }

  .categories__image {
    max-width: 220px;
    padding-bottom: 70px;
  }

  .categories__card-title {
    padding: 15px 11px 19px 11px;
    font-size: 18px;
  }

  .categories__line-bottom {
    max-width: 280px;
  }
}

@media (max-width: 1317px) {
  .categories {
    max-width: 1200px;
  }

  .categories__container {
    max-width: 1080px;
    width: 100%;
  }

  .categories__cards {
    gap: 10px;
  }

  .categories__card {
    max-width: 260px;
    width: 100%;
  }

  .categories__text {
    margin-top: 35px;
    padding: 0 0 10px 0;
  }

  .card-image__title {
    height: 330px;
  }
}

@media (max-width: 1197px) {
  .categories {
    max-width: 1020px;
  }

  .categories__cards {
    gap: 10px;
  }

  .categories__card {
    max-width: 215px;
    height: 290px;
    width: 100%;
  }

  .categories__card-title {
    padding: 10px 11px 10px 11px;
    font-size: 16px;
  }

  .categories__title {
    font-size: 26px;
  }

  .categories__container {
    max-width: 900px;
    width: 100%;
  }

  .categories__image {
    max-width: 180px;
    padding-bottom: 70px;
  }

  .card-image__subtitle {
    padding: 10px 10px;
  }

  .categories__card:hover .categories__image {
    max-width: 190px;
    max-height: 230px;
  }
}

@media (max-width: 1017px) {
  .categories {
    max-width: 900px;
  }

  .categories__title {
    font-size: 22px;
    max-width: 300px;
  }

  .categories__cards {
    max-width: 768px;
  }

  .card-image__title {
    padding-bottom: 45px;
    max-width: 170px;
    height: 300px;
  }

  .categories__container {
    max-width: 768px;
    width: 100%;
  }
  .categories__card {
    max-width: 184px;
    height: 240px;
  }

  .categories__card-title {
    padding: 10px 0px 10px 0px;
    font-size: 13px;
  }

  .categories__image {
    max-width: 130px;
    padding-bottom: 70px;
  }

  .categories__button-card {
    padding: 5px 5px 5px 15px;
  }

  .categories__text {
    font-size: 13px;
  }
}

@media (max-width: 861px) {
  .categories {
    max-width: 480px;
  }

  .categories__container {
    max-width: 480px;
    width: 100%;
  }

  .categories__title {
    padding-left: 0;
    font-size: 25px;
    max-width: 400px;
  }

  .categories__button {
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    left: 30%;
    bottom: 3%;
  }

  .button-position-prev {
    display: none;
  }
  .button-position-next {
    display: none;
  }

  .categories__cards {
    display: grid;
    max-width: 230px;

    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
    align-items: center;
    gap: 9px;
  }

  .categories__cards .swiper-slide {
    max-width: 230px;
    min-height: 300px;
    width: 100%;
    margin-right: 0px;
  }

  .categories__card:nth-child(n + 5) {
    display: none;
  }

  .categories__card-title {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  .card-image__title {
    padding-bottom: 45px;
    max-width: 300px;
    width: 100%;
    height: 300px;
  }

  .categories__image {
    padding-bottom: 20px;
    max-width: 230px;
    align-items: center;
    justify-content: center;
  }
}
/* 
@media (max-width: 768px) {
  .categories {
    max-width: 480px;
    position: relative;
    padding-bottom: 60px;
  }

  .categories__container {
    max-width: 480px;
    width: 100%;
  }

  .categories__title {
    padding-left: 0;
    font-size: 25px;
    max-width: 400px;
  }

  .categories__button {
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    left: 30%;
    bottom: 3%;
  }

  .categories__cards {
    max-width: 230px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }

  .categories__cards .swiper-slide {
    max-width: 230px;
    min-height: 300px;
    width: 100%;
    margin-right: 0px;
  }

  .categories__card:nth-child(n + 5) {
    display: none;
  }
} */
