.uniqueness {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 31px;
}

.uniqueness__cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  gap: 27px;
}

.uniqueness__card {
  display: flex;
  padding: 42px;
  list-style-type: none;
  width: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
}

.uniqueness__icon {
  padding-right: 30px;
}

.uniqueness__title {
  color: #0c2d35;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 88.889% */
}
