.slider {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(0, 85, 92, 0.7) 0%,
    rgba(4, 145, 147, 0.7) 22.74%,
    rgba(0, 95, 96, 0.7) 47.23%,
    rgba(11, 141, 140, 0.7) 72.92%,
    rgba(0, 93, 99, 0.7) 100%
  );
  backdrop-filter: blur(7.5px);
  transform: translateY(-123px);
  max-width: 1400px;
  width: 100%;
  z-index: 10;
}

.container-medium {
  box-sizing: border-box;
  max-width: 1400px;
}

.slider__container {
  display: flex;
  flex-direction: row;
}

/* .slider-menu {
} */

.slider-menu__line {
  width: 52px;
  height: 55px;
}

.slider-menu__list {
  padding: 0 26px 0 52px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
}

.slider-menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-menu__link {
  padding-right: 3px;
  padding-left: 3px;
  text-decoration: none;
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.slider-menu__link_circle {
  margin-left: 46px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media (max-width: 1517px) {
  .slider-menu__list {
    padding: 0 26px 0 26px;
    justify-content: space-between;
  }

  .slider-menu__line {
    padding-right: 10px;
    width: 20px;
  }

  .slider-menu__link {
    padding-right: 10px;
    font-size: 14px;
  }

  .slider-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 1317px) {
  .slider-menu__list {
    padding: 0 13px 0 13px;
  }

  .slider-menu__line {
    padding-right: 3px;
  }

  .slider-menu__link {
    padding-right: 3px;
  }
}

@media (max-width: 1017px) {
  .slider-menu__link {
    font-size: 12px;
  }

  
}
