.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__wrapper-up {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #09272e;
  width: 100%;
}

.nav {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  flex-direction: row;
}

.footer-menu__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  column-gap: 60px;
}

.email {
  padding-left: 18px;
}

/* .footer-munu__item {
} */

.footer-menu__link {
  text-decoration: none;
  color: #bfd6d8;
  font-family: 'Jura', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-menu__link-active {
  color: #fbbf28;
}

.footer-contact {
  display: flex;
  flex-direction: row;
}

.contact__list {
  /* padding: 0 43px 0 64px; */
  display: flex;
  flex-direction: row;
  /* column-gap: 47px; */
  justify-content: space-between;
  padding-right: 0;
  margin: 0;
  list-style-type: none;
  column-gap: 33px;
}

.contact__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact__item-tel {
  padding-left: 42px;
}

.contact__link {
  padding-right: 5px;
  display: flex;
  text-decoration: none;
  align-items: start;
}

.footer-number {
  color: #fecd14;
  font-family: 'Jura', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-text {
  color: #26aaab;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__wrapper-down {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0c2d35;
  width: 100%;
}

.footer__wrapper-down_address {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.logo__footer {
  padding-right: 50px;
  margin-top: -10px;
}

.footer__address {
  padding: 5px 0px 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .address__icon {
} */

.address__office {
  color: #387e8e;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.opening-hours {
  display: flex;
  align-items: center;
}

/* .opening-hours__icon {
} */

.opening-hours__text {
  color: #004b5e;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.opening-hours__text_highlight {
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.opening-hours__text_highlight2 {
  color: #18948f;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  color: #004b5e;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo__developer {
  margin-top: -32px;
}

.wrap111 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1517px) {
  .nav {
    max-width: 1200px;
  }

  .footer-menu__list {
    column-gap: 30px;
  }

  .footer__wrapper-down_address {
    max-width: 1200px;
  }
}

@media (max-width: 1317px) {
  .nav {
    max-width: 1080px;
  }

  .footer-menu__list {
    column-gap: 15px;
  }

  .footer-number {
    font-size: 20px;
  }

  .footer__wrapper-down_address {
    max-width: 1080px;
  }
}

@media (max-width: 1197px) {
  .nav {
    max-width: 900px;
  }

  .footer-menu__list {
    column-gap: 5px;
  }

  .contact__list {
    padding-left: 10px;
    column-gap: 20px;
  }

  .footer-number {
    font-size: 16px;
  }

  .footer-text {
    font-size: 14px;
  }

  .footer__wrapper-down_address {
    max-width: 900px;
  }

  .address__office {
    font-size: 14px;
  }

  .logo__footer {
    width: 150px;
    padding-right: 50px;
    margin-top: -10px;
  }

  .copyright__text {
    font-size: 13px;
  }

  .opening-hours__text {
    font-size: 14px;
  }

  .opening-hours__text_highlight {
    font-size: 14px;
  }

  .opening-hours__text_highlight2 {
    font-size: 14px;
  }

  .logo__developer {
    width: 100px;
    margin-top: -25px;
  }
}

@media (max-width: 1017px) {
  .email {
    display: none;
  }

  .opening-hours {
    display: none;
  }

  .footer__wrapper-down_address {
    max-width: 768px;
  }

  .nav {
    max-width: 768px;
  }
}

@media (max-width: 861px) {
  .footer-wrapper {
    display: block;
  }

  .footer__wrapper-up {
  }

  .address__office {
    display: none;
  }

  .address__icon {
    display: none;
  }

  .phone-call {
    display: block;
  }

  .opening-hours {
    display: none;
  }

  .footer__wrapper-down_address {
    max-width: 480px;
  }

  .nav {
    max-width: 480px;
    position: relative;
    /* border: 1px solid red; */
  }

  .wrap111 {
    /* border: 1px solid green; */
    justify-content: end;
    padding-bottom: 51px;
  }

  .copyright {
    /* border: 1px solid yellow; */
    flex-direction: column;
    align-items: end;
  }

  .copyright__text {
    margin: 0 auto;
    padding: 10px 0px 28px;
    font-size: 15px;
    order: 1;
  }

  .logo__footer {
    width: 175px;
    padding-right: 0px;
  }

  .logo__developer {
    margin-top: 0px;
    margin-right: 0px;
    width: 122px;
  }

  .footer__wrapper-down {
    /* border: 1px solid palevioletred; */
    padding-top: 12px;
    background: url(../../images/Baner2.png),
      lightgray -1654.549px -88.481px / 541.213% 201.724% no-repeat;
  }

  .footer-contact {
    /* border: 1px solid lime; */
    width: 100%;
    justify-content: space-between;
  }

  .footer__menu {
    /* border: 1px solid red; */
    max-width: 150px;
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    position: absolute;
    top: 163.5%;
    left: 0;
  }

  .footer-munu__item {
    padding: 5px 0px;
  }

  .contact__list {
    padding-left: 0;
  }

  .footer-menu__list {
    /* position: absolute; */
    flex-direction: column;
  }

  .contact__icon-tel {
    margin-top: 3px;
    width: 18px;
  }

  .footer-number {
    font-size: 20px;
  }
}

@media (max-width: 861px) {
  .nav {
    max-width: 375px;
    position: relative;
  }

  .footer__wrapper-down_address {
    max-width: 375px;
  }
}

@media (max-width: 376px) {
  .nav {
    max-width: 355px;
  }

  .footer__wrapper-down_address {
    max-width: 355px;
  }

  .footer__address {
    padding: 10px 0px 0px 8px;
  }
}
