.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__wrapper-up {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #09272e;
  width: 100%;
}

.nav {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  flex-direction: row;
}

.footer-menu__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  list-style-type: none;
  column-gap: 60px;
}

.email {
  padding-left: 18px;
}

/* .footer-munu__item {
} */

.footer-menu__link {
  text-decoration: none;
  color: #bfd6d8;
  font-family: 'Jura', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-menu__link-active {
  color: #fbbf28;
}

.footer-contact {
  display: flex;
  flex-direction: row;
}

.contact__list {
  /* padding: 0 43px 0 64px; */
  display: flex;
  flex-direction: row;
  /* column-gap: 47px; */
  justify-content: space-between;
  padding-right: 0;
  margin: 0;
  list-style-type: none;
  column-gap: 33px;
}

.contact__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact__link {
  display: flex;
  text-decoration: none;
}

.footer-number {
  color: #fecd14;
  font-family: 'Jura', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-text {
  color: #26aaab;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__wrapper-down {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0c2d35;
  width: 100%;
}

.footer__wrapper-down_address {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.logo__footer {
  padding-right: 50px;
  margin-top: -10px;
}

.footer__address {
  padding: 5px 0px 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .address__icon {
} */

.address__office {
  color: #387e8e;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.opening-hours {
  display: flex;
  align-items: center;
}

/* .opening-hours__icon {
} */

.opening-hours__text {
  color: #004b5e;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.opening-hours__text_highlight {
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.opening-hours__text_highlight2 {
  color: #18948f;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  color: #004b5e;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo__developer {
  margin-top: -32px;
}

.wrap111 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
