.go-top {
  width: 55px;
  height: 55px;
  border: none;
  background-image: url(../../images/вверх.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: fixed;
  right: 41px;
  top: 10%;
  cursor: pointer;
  display: none;
  z-index: 100;
}

@media (max-width: 1636px) {
  .go-top {
    right: 1%;
  }
}
@media (max-width: 1560px) {
  .go-top {
    right: 0;
  }
}

.go-top:hover {
  opacity: 0.6;
}

.go-top--show {
  display: block;
}
