.product-cards {
  display: flex;
  flex-direction: column;
}

/* .container-medium {
  border: 1px solid blue;
} */

/* .categories__title {
} */

/* .categories__icon {
} */

/* .product-cards__wrapper {
} */

.product-cards__cards {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 26px;
  /* flex-wrap: wrap; */
}

.product-cards__card {
  padding: 0;
  padding: 13px 15px 20px 15px;
  background: #fff;
  border-radius: 10px;
  max-width: 330px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* .product-cards__image {
} */

.product-cards__title {
  padding: 0;
  max-width: 299px;
  color: #215c6a;
  font-family: 'Jura', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 105.882% */
}

/* .product-cards__line {
} */

.product-card__list {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card__item {
  padding: 0;
  color: #585b63;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product-card__wpapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price__new {
  color: #38827f;
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 60% */
}

.price__old {
  color: #718b98;
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  text-decoration: line-through;
}

.product-card__bag {
  border-radius: 10px;
  border: 2px solid #e2e9f0;
  color: #38827f;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}

.product-card__bag:hover {
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    #004b5e 21.17%,
    rgba(69, 122, 139, 0.94) 132.69%
  );

  color: #fab909;
  font-family: Jura;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  cursor: pointer;
}

/* svg.product-card__bag-icon:hover path {
  fill: #fff;
  cursor: pointer;
} */

.product-card__in-bag {
  border: none;
  color: #fab909;
  border-radius: 10px;
  background: linear-gradient(
    142deg,
    #004b5e 21.17%,
    rgba(69, 122, 139, 0.94) 132.69%
  );
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}

.product-card__button-still {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  border: none;
  padding: 12px 10px 12px 22px;
  border-radius: 50px;
  background: #fff;
  color: #798c97;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 88.889% */
}

.product-card__button-still-icon {
  padding-left: 10px;
}
